[submodule "nvim"]
	path = nvim
	url = https://github.com/efgeen/.nvim.git
	branch = master
[submodule "tmux"]
	path = tmux
	url = https://github.com/efgeen/.tmux.git
	branch = master
[submodule "sshd"]
	path = sshd
	url = https://github.com/efgeen/.sshd.git
	branch = master
